<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TrainingWCFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Datasource" value="Server=localhost\sqlexpress;Database=LabTrainingDatabase;Integrated Security=True;"/>
    <add key="SearchUrl" value="http://www.bing.com/search?q="/>
    <add key="HealthCheckWebService" value="http://localhost:2102/HealthService.svc"/>
  </appSettings>
  
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="portSharingBinding" portSharingEnabled="true"/>
        </netTcpBinding>
        <customBinding>
          <binding>
            <tcpTransport portSharingEnabled="true">
            </tcpTransport>
          </binding>
        </customBinding>
      </bindings>


      <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TrainingWCFService.SearchService">
              <endpoint address="net.tcp://localhost:8010/TrainingWCFService"
                  binding="netTcpBinding"
                  contract="TrainingWCFService.ISearchService"
                  bindingConfiguration="portSharingBinding" />

            </service>
        </services>
    </system.serviceModel>
    <applicationSettings>
        <TrainingWCFService.Properties.Settings>
            <setting name="TrainingWCFService_HealthServiceReference_HealthService"
                serializeAs="String">
                <value>http://localhost:58676/HealthService.svc</value>
            </setting>
        </TrainingWCFService.Properties.Settings>
    </applicationSettings>
</configuration>
