<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HealchCheckIntercal" value="30000"/>
    <add key="DbCheckInterval" value="47000"/>
    <add key="LabMainSite" value="http://localhost:2100/healthcheck.aspx"/>
    <add key="LabApiSite" value="http://localhost:2101/healthcheck.aspx"/>
    <add key="LabAjaxService" value="http://localhost:2100/Ajax/healthcheck.aspx"/>
    <add key="MainSiteRobots" value="http://localhost:2100/robots/robots.aspx"/>
    <add key="Datasource" value="Server=localhost\sqlexpress;Database=LabTrainingDatabase;Integrated Security=True;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
